@font-face{
  font-family: Merriweather;
  src:url("./fonts/Merriweather-Black");
  font-weight: 900;
}
@font-face{
  font-family: Merriweather;
  src:url("./fonts/Merriweather-Bold");
  font-weight: 700;
}
@font-face{
  font-family: Merriweather;
  src:url("./fonts/Merriweather-Regular");
  font-weight: 400;
}
@font-face{
  font-family: Merriweather;
  src:url("./fonts/Merriweather-Light");
  font-weight: 300;
}

/**/

@font-face{
  font-family: Montserrat;
  src:url("./fonts/Montserrat-Black");
  font-weight: 900;
}
@font-face{
  font-family: Montserrat;
  src:url("./fonts/Montserratr-Bold");
  font-weight: 700;
}
@font-face{
  font-family: Montserrat;
  src:url("./fonts/Montserrat-Regular");
  font-weight: 400;
}
@font-face{
  font-family: Montserrat;
  src:url("./fonts/MontserratLight");
  font-weight: 300;
}

