@import './variables';
@import './templates';
@import './mixins';
@import './fonts';

*{
  margin: 0;
  padding: 0;
}
body {
  //background: url("img/hp.png");
  //height: 5480px;
  color: $color--text;
 // background-position-y: -44px;
  line-height: 1.5;
  //font-family: 'Merriweather', serif;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;

}

.header {
  @extend .container;
  height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  &__internal{
    height: 130px;
  }
  &__navigation {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 700;
  }
  &__logo {
    &:hover {
      color: $color--secondary;
    }
  }
  &__contact {
    color: $color--secondary;
    padding-bottom: 1px;
    border-bottom: 2px solid $color--secondary;
    &:hover {
      color: $color--text;
      border-bottom: 2px solid $color--text;
    }
  }
  &__logo-link,
  &__contact-link {
    @extend .link
  }
  &__about {
    &--main{
      font-size: 30px;
      font-weight: 700;
      line-height: 2;
      width: 800px;
      margin-bottom: 0;
    }
    &--detailed{
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 50px;
      margin-top: 0;
      line-height: 2;
      width: 800px;
    }
  }
  &__name {
    color: $color--secondary;
  }
  &__job-title {
    color: $color--primary;
  }
}
.contact-buttons{
  @extend .list--horizontal;
  margin-left: -6px;
  margin-bottom: 30px;
}
.contact-button{
  @extend .link;
  @extend .button;
  &--cv{
    background-color: $color--secondary;
  }
  &--projects{
    background-color: $color--additional;
  }
  &--linkedin{
    background-color: $color--primary;
  }
}
.projects{
  @extend .container;
  &__project{
  }
  &__item{
    @extend .screen;
    margin-bottom: 200px;
  }
}
.project{
  height: 500px;
  display: flex;
  border: 3px solid $color--clearGray;
  &__illustration{
    
  }
  &__image-wrapper{
    overflow: hidden;
    width: 468px;
  }
  &__image{
    width: 100%;
  }
  &__description{
    padding-left: 60px;
    padding-bottom: 29px;
    padding-top: 43px;
    padding-right: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__title{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1.4
  }
  &__about{
    font-size: 15px;
    line-height: 2;
  }
  &__date,&__tags{
    text-transform: uppercase;
    color: rgba($color--text, 0.4);
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;

  }
}
.blog{
  @extend .container;
  @extend .screen;
  &__content{
    display: flex;
    flex-wrap: wrap;
  }
  &__article{
    margin-right: 19px;
    margin-bottom: 20px;
    &:nth-child(3n){
      margin-right: 0;
    }
  }
  &__title{
    font-size:40px;
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  &__description{
    width: 700px;
    font-size: 16px;
    line-height: 2;
    margin-bottom: 30px;
  }
  &__internal{
    //border-top: 4px solid $color--clearGray;
    width: 100%;
    background-color: $color--clearGray;
    margin-top: 100px;
    padding-top: 90px;
    height: inherit;
  }
  &__wrapper{
    width:940px;
    margin: auto;
  }
}
.article{
    width: 300px;
    font-weight: 900;
    &__image-wrapper{
      overflow: hidden;
      width: 100%;
    }
    &__image{
      width: 100%;
    }
    &__date{
      margin-top: 20px;
      font-size: 14px;
      color: rgba($color--text, 0.4);
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
    }
    &__title{
      font-size: 16px;
      line-height: 1.4;
      margin-top: 5px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
    }
}
.footer{
  background-color: #161130;
  color: rgba($color--bg,0.5);
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  &__links{
    @extend .list--horizontal;
    @extend .container;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  &__link{
    @extend .link;
  }
}
.paragraphe{
  width: 730px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  font-size: 16px;
  font-weight: 300;
  line-height: 2;

  &__title{
    font-size: 30px;
    font-weight: 600;
    color: $color--black;
  }
  &__text{
    margin-top: 45px;
    margin-bottom: 45px;
    &:nth-child(2){
      margin-top: 20px;
    }
  }
  &__list{
    margin-top: -20px;
  }
  &__list{
  }
  &__small-image-wrapper{
    width: 710px;
  }
  &__middle-image-wrapper{
    width: 130%;
    position: relative;
    left: -15%;
    right: 50%;
  }
  &__big-image-wrapper{
    width: 200%;
    position: relative;
    left: -50%;
    right: 100%;
  }
  &__small-image, &__middle-image, &__big-image{
    max-width: 100%;
  }
}
.color-insertion{
  margin-top: 90px;
  background-color: $color--secondary;
  &__content{
    width: 730px;
    margin: 0 auto;
    font-size: 30px;
    line-height: 1.7;
  }
  &--yellow{
    background-color: $color--additional;
  }
  &--violet{
    background-color: $color--primary;
  }
}
.case-study{
  width: 1280px;
  margin: 0 auto;
  &__header{
  }
  &__date,&__tags{
    text-transform: uppercase;
    font-size: 20px;
    opacity: 0.4;
    font-weight: 300;
    text-align: center;
  }
  &__title{
    font-size: 50px;
    font-weight: bold;
    color: $color--black;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  &__image-wrapper{
    margin-top: 90px;
  }
  &__image{
    width: 100%;
  }
  &__overview{
    margin-top: -400px;
  }
  &__color-insertion{
    padding-top: 90px;
    padding-bottom: 90px;
    width: 100%;
    color:$color--bg;
  }
  &__contact-buttons{
    margin-top: 80px;
    width: 110%;
    margin-left: -1%;
  }
}
