$color--bg: #ffffff;
$color--text: #494949;
$color--one: #7286DC;
$color--two: #FE62A9;
$color--three: #FFD136;
$color--clearGray: #F1F3F7;
$color--darkGray: #000000;
$color--black: #000000;
$width-320-768: 280px;
$width-768-940: 700px;
$width-half-768-940: 350px;

