$color--bg: #ffffff;
$color--text: #494949;
$color--primary: #8B7BE6;
$color--secondary: #F44955;
$color--additional: #FFC700;
$color--clearGray: #F1F3F7;
$color--darkGray: #000000;
$color--black: #000000;
